<ng-container *ngIf="(basket$ | async) as basket">

    <div class="table-responsive">
        <div class="table">
            <thead>
                <tr>
                    <th class="border-0 bg-light" scope="col">
                        <div class="p-2 px-3 text-uppercase" *ngIf="isBasket" style="width: 600px;">Product</div>
                        <div class="p-2 px-3 text-uppercase" *ngIf="!isBasket" style="width:400px">Product</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                        <div class="p-2 px-3 text-uppercase">Price</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                        <div class="p-2 px-3 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                        <div class="p-2 px-3 text-uppercase">Total</div>
                    </th>
                    <th *ngIf="isBasket" class="border-0 bg-light" scope="col">
                        <div class="p-2 px-3 text-uppercase">Remove</div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="(basket$ | async) as basket">
                <tr *ngFor="let item of basket.items">
    
                    <td scope="row" style="width: 400px;">
                        <div class="p-2" >
    
                            <img src="{{item.pictureUrl}}" style="max-height: 100px;"
                                alt="{{item.productName}}" class="img-fluid" *ngIf="isBasket">
    
                            <img src="{{item.pictureUrl}}" style="max-height: 70px;"
                                alt="{{item.productName}}" class="img-fluid" *ngIf="!isBasket">
    
                            <div class="ml-3 d-inline-block align-middle" >
                                <h2 class="mb-0" >
                                    <a routerLink="/shop/{{item.id}}" 
                                        class="text-dark">{{item.productName}}</a>
                                </h2>
                                <span
                                    class="text-muted font-weight-normal font-italic d-block">Type:
                                    {{item.type}}
                                </span>
                                <span
                                    class="text-muted font-weight-normal font-italic d-block">Brand:
                                    {{item.brand}}
                                </span>
                            </div>
    
                        </div>
                    </td>
    
                    <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
    
                    <td class="align-middle">
                        <div class="d-flex align-items-center" [class.justify-content-center]="!isBasket">
                            <i class="fa fa-minus-circle  mr-2"
                                style="cursor: pointer; font-size: 2em;"
                                (click)="decrementItemQuantity(item)"
                                *ngIf="isBasket"></i>
    
                            <span 
                                [ngStyle]="isBasket ? {'font-size': '1.5em', 'font-weight': '400'} : {'font-weight': 'bold'}"
                                >
    
                            {{item.quantity}}</span>
    
                            <i class="fa fa-plus-circle mx-2"
                                style="cursor: pointer; font-size: 2em;"
                                (click)="incrementItemQuantity(item)"
                                *ngIf="isBasket"></i>
                        </div>
                    </td>
    
                    <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
    
                    <td class="align-middle text-center">
                        <a class="text-danger ">
                            <i class="fa fa-trash" style="font-size: 2em; cursor: pointer;"
                            (click)="removeBasketItem(item)"
                            *ngIf="isBasket"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </div>
    </div>

</ng-container>

